<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.archirectureobjects">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/buildicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/buildicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.ArchirectureObjects">
        <activity
            android:name=".ModelResult"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>